backports.functools-lru-cache==1.4
backports.weakref==1.0rc1
bleach==1.5.0
certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.7.1
docopt==0.6.2
en-core-web-sm==1.2.0
ftfy==4.4.3
funcsigs==1.0.2
graphviz==0.7.1
h5py==2.7.1
html5lib==0.9999999
idna==2.6
Keras==2.0.5
Markdown==2.2.0
matplotlib==2.1.0
mock==2.0.0
murmurhash==0.26.4
nltk==3.2.5
numpy==1.22.0
pandas==0.20.2
pathlib==1.0.1
pbr==3.1.0
plac==0.9.6
preshed==1.0.0
protobuf==3.3.0
pydot==1.2.3
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
recurrentshop==1.0.0
regex==2017.11.9
requests==2.18.4
scikit-learn==0.19.1
scipy==0.19.0
seq2seq==1.0.0
six==1.10.0
sklearn==0.0
spacy==1.9.0
subprocess32==3.2.7
tensorflow==1.2.0
termcolor==1.1.0
Theano==0.9.0
thinc==6.5.2
toolz==0.8.2
tqdm==4.19.4
ujson==1.35
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.12.2
wrapt==1.10.11
